<h2 class="h2">Pines generados</h2>
<br><br>

<div class="tabla-pines">
    <div class="table-responsive">
        <table class="table text-center">
            <thead>
                <tr>                    
                    <th>Pin</th>
                    <th>Perfil</th>
                    <th>Precio</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th>Vendedor</th>                    
                </tr>
            </thead>
            <tbody>
                
               <tr *ngFor="let dato of datos">                       
                    <td>{{dato.pin}}</td>                    
                    <td>{{dato.perfil}}</td>                    
                    <td>{{dato.precio | currency}}</td>                    
                    <td>{{dato.estado}}</td>                    
                    <td>{{dato.fecha}}</td>                    
                    <td>{{dato.vendedor}}</td>                                     
               </tr>
            </tbody>
        </table>

    </div>
</div>
