<h1 class="h1 mt-2 mb-5 text-center">Gestor de Hotspot Mikrotik con Angular y PHP</h1>
<div class="dashboard-container">

  <!-- Tarjeta 1: ¿Qué hace la aplicación? -->
  <div class="card">
    <div class="card-icon">
      <i class="fas fa-network-wired"></i>
    </div>
    <div class="card-content">
      <h2>¿Qué hace la aplicación?</h2>
      <p>
        Esta aplicación te permite gestionar el Hotspot Mikrotik de forma remota, crear, modificar y eliminar usuarios, y automatizar la actualización de los estados de los usuarios del Hotspot.
      </p>
    </div>
  </div>

  <!-- Tarjeta 2: Funcionalidades principales -->
  <div class="card">
    <div class="card-icon">
      <i class="fas fa-tasks"></i>
    </div>
    <div class="card-content">
      <h2>Funcionalidades principales</h2>
      <ul>
        <li>Crear y eliminar usuarios del Hotspot.</li>
        <li>Almacena todos los pines generados en la base de datos.</li>
        <li>Automatizar la gestión de estados de los usuarios.</li>
        <li>Monitoreo en tiempo real del estado de los usuarios.</li>
      </ul>
    </div>
  </div>

  <!-- Tarjeta 3: Cómo usar la aplicación -->
  <div class="card">
    <div class="card-icon">
      <i class="fas fa-info-circle"></i>
    </div>
    <div class="card-content">
      <h2>Cómo usar la aplicación</h2>
      <ol>
        <li>Accede a la sección de Pines.</li>
        <li>Para crear en la seccion "Generar" o eliminar en la seccion "En Router".</li>
        <li>Para visualizar a los usuarios que estan usando el servicio, la seccion "En uso".</li>
        <li>Consultar el estado de los usuarios en tiempo real en la seccion "Registro en BD".</li>
      </ol>      
    </div>
  </div>
</div>